html {
  font-size: 62.5%;
  display: inline-block;
}

body {
  font-family: 'Pattaya', sans-serif;
  background-color: cyan;
  margin: 0;
  padding: 0;
}

.main-container {
  text-align: center;
  margin-top: -15px;
}
.container {
  padding: 100px 0 100px 0;
}

a:hover {
  font-size: 200%;
}

h1 {
  color: blue;
  font-size: 5rem;
  width: 100%;
  margin-top: 10%;
  position: absolute;
  font-weight: bold;
  letter-spacing: 5px;
}

.dark-part {
  color: white;
  margin-top: -250px;
  text-align: center;
  justify-self: center;
  font-size: 3.3rem;
}

#clock {
  font-size: 6.5rem;
  color: cyan;
  width: 100%;
  margin-top: 15%;
  position: absolute;
  font-weight: bold;
}

p {
  color: deeppink;
  font-size: 3.5rem;
  position: absolute;
  font-weight: bold;
}

.title1 {
  width: 100%;
  margin-top: 22%;
}

.sub-title1 {
  width: 100%;
  margin-top: 27%;
}

.images {
  width: 100%;
  /*height: 930px;*/
}

#music {
  display: grid;
  row-gap: 20px;
  font-size: 2.2rem;
}

#playlist {
  list-style: none;
}

.audio {
  justify-self: center;
}

#playlist li a {
  text-decoration: none;
}

#playlist .current-song a {
  color: white;
}
@media (max-width: 1366px){
  .images {
    height: 1024px;
  }
}

@media (max-width: 1024px){
  
  h1 {
    margin-top: 15%;
  }
  .images {
    height: 1366px;
  }
  
  #clock {
    margin-top: 25%;
  }
  
  p {
    font-size: 3.2rem;
  }
  
  .title1 {
    margin-top: 35%;
  }
  
  .sub-title1 {
    margin-top: 40%;
  }
}

@media (max-width: 900px) {
  .main-container {
    margin-top: -15px;
  }
  
  .images {
    height: 1024px;
  }
  
  h1 {
    font-size: 4.2rem;
    margin-top: 15%;
  }
  
  #clock {
    font-size: 5.8rem;
    margin-top: 20%;
  }
  
  p {
    font-size: 3.2rem;
  }
  
  .title1 {
    margin-top: 30%;
  }
  
  .sub-title1 {
    margin-top: 35%;
    font-size: 2.8rem;
  }
}

@media (max-width: 700px){
  h1 {
    margin-top: 30%;
  }
  
  #clock {
    margin-top: 40%;
  }
  
  .title1 {
    margin-top: 50%;
  }
  
  .sub-title1 {
    margin-top: 55%;
  }
}

@media (max-width: 600px) {
  h1 {
    margin-top: 30%;
  }
  
  #clock {
    margin-top: 40%;
  }
  
  .title1 {
    margin-top: 55%;
  }
  
  .sub-title1 {
    margin-top: 60%;
  }
}

@media (max-width: 480px){
  .main-container {
    margin-top: -15px;
  }
  
  #music {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
  }
  
  .images {
    width: 100%;
    height: 640px;
  }

  h1 {
    font-size: 3.2rem;
    margin-top: 35%;
  }

  #clock {
    font-size: 4.8rem;
    margin-top: 50%;
  }

  p {
    font-size: 3.2rem;
  }

  .title1 {
    margin-top: 70%;
  }

  .sub-title1 {
    margin-top: 85%;
    font-size: 1.8rem;
  }
}

@media (max-width: 414px) {
  .images {
    height: 736px;
  }
}

@media (max-width: 411px) {
  .images {
    height: 823px;
  }
}

@media (max-width: 375px) {
  .images {
    height: 812px;
  }
}

@media (max-width: 360px) {
  .images {
    height: 640px;
  }
  
  h1 {
    font-size: 3.2rem;
    margin-top: 35%;
  }
  
  #clock {
    font-size: 4.8rem;
    margin-top: 55%;
  }
  
  p {
    font-size: 3.2rem;
  }
  
  .title1 {
    margin-top: 70%;
  }
  
  .sub-title1 {
    margin-top: 85%;
    font-size: 1.8rem;
  }
}

@media (max-width: 320px){
  h1 {
    font-size: 3.2rem;
    margin-top: 35%;
  }
  
  #clock {
    font-size: 4.8rem;
    margin-top: 70%;
  }
  
  p {
    font-size: 3.2rem;
  }
  
  .title1 {
    margin-top: 90%;
  }
  
  .sub-title1 {
    margin-top: 99%;
    font-size: 1.8rem;
  }
}
